body {
    margin: 0;
    background-color: #1F2937;
    color: white;
    font-family: sans-serif;
}

span {
    color: #10B981;
    display: block;
}

p {
    color: #D5D4D8;
}

button {
    border: none;
    color: white;
    background-color: #10B981;
    padding: 10px;
    border-radius: 5px;
}

#text {
    margin: 30px;
    border-bottom: 1px solid #2F3E53;
    padding-bottom: 20px;
}


#passwords {
    display: flex;
    flex-direction: row;
    margin: 30px;
    justify-content: space-between;
    color: #10B981;
    text-align: center;

}

.passfield {
    background-color: #273549;
    width: 211px;
    height: 39px;
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.active {
    background-color: pink;
    
}

#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#generator {
    border: 1px solid white;
    width: 500px;

}


#copy-modal {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    opacity: 0%;
}


#copy-modal p {
    color: black;
    background-color: white;  
    padding: 10px 20px;
    /* margin: 30px; */
    border-radius: 5px;

}

.get-animated {
    animation-name: quickfade;
    animation-duration: 1s;
}

@keyframes quickfade {
    0% {opacity: 0%}
    5% {opacity: 100%}
    100% {opacity: 0%}
}

#checkboxes Label {
    font-size: .80em;
}

#slide-container Label {
    margin: 12px 5px;
}

#inputs {
    margin: 20px 0 0 0;
}

#slide-range {
    /* display: inline; */
    margin: 20px 0 0 0;

}

#slide-value-display {
    display: inline; 
    margin: 0 10px;
}